## Problem 1 - Basic statistics of the data (*4 points*)

In this problem your task is to open and explore a NOAA weather data file using Pandas. The data file name is [data/6153237444115dat.csv](data/6153237444115dat.csv). Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Importing the Pandas module
- Reading the data using Pandas into a variable called `data`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 (*1 point*)

Your first task is to import Pandas and read in the data file.

- Import the Pandas module (*0.5 points*)
- Read the data into a variable called `data` using Pandas (*0.5 points*)

**Important**: When reading the data, you need to tell Pandas that no-data values are specified with varying number of `*` characters. You can do this by specifying a following parameter in the Pandas `read_csv()` function: 
  
`na_values=['*', '**', '***', '****', '*****', '******']`

In [8]:
import pandas as pd
#https://www.shanelynn.ie/python-pandas-read-csv-load-data-from-csv-files/
data = pd.read_csv('./data/6153237444115dat.csv', na_values=['*', '**', '***', '****', '*****', '******'])
print(data)

        USAF   WBAN  YR--MODAHRMN    DIR   SPD   GUS   CLG  SKC   L   M  ...  \
0      28450  99999  201705010000  174.0  10.0  14.0   NaN  NaN NaN NaN  ...
1      28450  99999  201705010020  180.0  10.0   NaN   4.0  NaN NaN NaN  ...
2      28450  99999  201705010050  190.0  10.0   NaN   4.0  NaN NaN NaN  ...
3      28450  99999  201705010100  188.0  12.0  16.0   NaN  NaN NaN NaN  ...
4      28450  99999  201705010120  200.0  13.0   NaN   2.0  OBS NaN NaN  ...
...      ...    ...           ...    ...   ...   ...   ...  ...  ..  ..  ...
11689  29980  99999  201708311900  144.0  12.0  20.0  50.0  BKN NaN NaN  ...
11690  29980  99999  201708312000  137.0  14.0  20.0  40.0  BKN NaN NaN  ...
11691  29980  99999  201708312100  160.0  13.0   NaN   NaN  BKN NaN NaN  ...
11692  29980  99999  201708312200  170.0  12.0  21.0  28.0  OVC NaN NaN  ...
11693  29980  99999  201708312300  192.0  13.0  21.0  19.0  BKN NaN NaN  ...

          SLP    ALT     STP  MAX  MIN  PCP01  PCP06  PCP24  PCPXX    SD
0      1009.2    NaN   984.1  NaN  NaN    NaN    NaN    NaN    NaN  35.0
1         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
2         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
3      1009.1    NaN   984.0  NaN  NaN    NaN    NaN    NaN    NaN  35.0
4         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
...       ...    ...     ...  ...  ...    ...    ...    ...    ...   ...
11689  1007.7    NaN  1004.7  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11690  1006.9    NaN  1003.9  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11691  1006.1    NaN  1003.2  NaN  NaN    NaN    NaN    NaN    NaN   NaN
11692  1006.1    NaN  1003.1  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11693  1005.8    NaN  1002.8  NaN  NaN    NaN    NaN    NaN    NaN   0.0

[11694 rows x 33 columns]

Run these tests to check that everything is set up correctly:

In [6]:
from nose.tools import ok_, assert_equal
import inspect
import sys

# Check that pandas module is imported
ok_('pandas' in sys.modules)

In [9]:
from nose.tools import ok_, assert_equal
import inspect
import sys

# Check that pandas module is imported
if ok_('pandas' in sys.modules):
    print('Pandas module is not imported')
else:
    print('Pandas module is imported')

Pandas module is imported

In [7]:
# Check that the variable data exists:
ok_('data' in locals())

In [10]:
# Check that the variable data exists:
if ok_('data' in locals()):
    print('the variable data does not exist')
else:
    print('the variable data exists')

the variable data exists

In [22]:
run Exercise-5-solution-1-part-1.py

        USAF   WBAN  YR--MODAHRMN    DIR   SPD   GUS   CLG  SKC   L   M  ...  \
0      28450  99999  201705010000  174.0  10.0  14.0   NaN  NaN NaN NaN  ...
1      28450  99999  201705010020  180.0  10.0   NaN   4.0  NaN NaN NaN  ...
2      28450  99999  201705010050  190.0  10.0   NaN   4.0  NaN NaN NaN  ...
3      28450  99999  201705010100  188.0  12.0  16.0   NaN  NaN NaN NaN  ...
4      28450  99999  201705010120  200.0  13.0   NaN   2.0  OBS NaN NaN  ...
...      ...    ...           ...    ...   ...   ...   ...  ...  ..  ..  ...
11689  29980  99999  201708311900  144.0  12.0  20.0  50.0  BKN NaN NaN  ...
11690  29980  99999  201708312000  137.0  14.0  20.0  40.0  BKN NaN NaN  ...
11691  29980  99999  201708312100  160.0  13.0   NaN   NaN  BKN NaN NaN  ...
11692  29980  99999  201708312200  170.0  12.0  21.0  28.0  OVC NaN NaN  ...
11693  29980  99999  201708312300  192.0  13.0  21.0  19.0  BKN NaN NaN  ...

          SLP    ALT     STP  MAX  MIN  PCP01  PCP06  PCP24  PCPXX    SD
0      1009.2    NaN   984.1  NaN  NaN    NaN    NaN    NaN    NaN  35.0
1         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
2         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
3      1009.1    NaN   984.0  NaN  NaN    NaN    NaN    NaN    NaN  35.0
4         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
...       ...    ...     ...  ...  ...    ...    ...    ...    ...   ...
11689  1007.7    NaN  1004.7  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11690  1006.9    NaN  1003.9  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11691  1006.1    NaN  1003.2  NaN  NaN    NaN    NaN    NaN    NaN   NaN
11692  1006.1    NaN  1003.1  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11693  1005.8    NaN  1002.8  NaN  NaN    NaN    NaN    NaN    NaN   0.0

[11694 rows x 33 columns]
Pandas module is imported
the variable data exists

### Part 2 (*1.5 points*)   

In the cell below, fill in the variables values to print answers to these questions:

- How many rows is there in the data (variable `rows`)?
- What are the column names (variable `column_names`)?
- What are the datatypes of the columns (variable `column_datatypes`)?

In [18]:
# Number of rows in the dataframe:
df = pd.DataFrame(data)
rows = df.shape[0]  # Gives number of rows
cols = df.shape[1]  # Gives number of columns
print(df)

# Column names:
# https://www.geeksforgeeks.org/how-to-get-column-names-in-pandas-dataframe/
# https://www.geeksforgeeks.org/python-pandas-dataframe/
column_names = []
for col in df.columns:
    column_names.append(col)
print(column_names)

# Column datatypes:
# https://datatofish.com/data-type-pandas-dataframe/
column_datatypes = []
for col in df.columns:
    column_datatypes.append(df[col].dtypes)
print(column_datatypes)

        USAF   WBAN  YR--MODAHRMN    DIR   SPD   GUS   CLG  SKC   L   M  ...  \
0      28450  99999  201705010000  174.0  10.0  14.0   NaN  NaN NaN NaN  ...
1      28450  99999  201705010020  180.0  10.0   NaN   4.0  NaN NaN NaN  ...
2      28450  99999  201705010050  190.0  10.0   NaN   4.0  NaN NaN NaN  ...
3      28450  99999  201705010100  188.0  12.0  16.0   NaN  NaN NaN NaN  ...
4      28450  99999  201705010120  200.0  13.0   NaN   2.0  OBS NaN NaN  ...
...      ...    ...           ...    ...   ...   ...   ...  ...  ..  ..  ...
11689  29980  99999  201708311900  144.0  12.0  20.0  50.0  BKN NaN NaN  ...
11690  29980  99999  201708312000  137.0  14.0  20.0  40.0  BKN NaN NaN  ...
11691  29980  99999  201708312100  160.0  13.0   NaN   NaN  BKN NaN NaN  ...
11692  29980  99999  201708312200  170.0  12.0  21.0  28.0  OVC NaN NaN  ...
11693  29980  99999  201708312300  192.0  13.0  21.0  19.0  BKN NaN NaN  ...

          SLP    ALT     STP  MAX  MIN  PCP01  PCP06  PCP24  PCPXX    SD
0      1009.2    NaN   984.1  NaN  NaN    NaN    NaN    NaN    NaN  35.0
1         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
2         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
3      1009.1    NaN   984.0  NaN  NaN    NaN    NaN    NaN    NaN  35.0
4         NaN  29.74     NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
...       ...    ...     ...  ...  ...    ...    ...    ...    ...   ...
11689  1007.7    NaN  1004.7  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11690  1006.9    NaN  1003.9  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11691  1006.1    NaN  1003.2  NaN  NaN    NaN    NaN    NaN    NaN   NaN
11692  1006.1    NaN  1003.1  NaN  NaN    NaN    NaN    NaN    NaN   0.0
11693  1005.8    NaN  1002.8  NaN  NaN    NaN    NaN    NaN    NaN   0.0

[11694 rows x 33 columns]
['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L', 'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2', 'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01', 'PCP06', 'PCP24', 'PCPXX', 'SD']
[dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

In [19]:
# Print the number of rows in the dataframe:
print("There are " + str(rows) + " rows")

There are 11694 rows

In [20]:
# Print the column names:
print("The columns are: \n", column_names)

The columns are:
 ['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L', 'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2', 'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01', 'PCP06', 'PCP24', 'PCPXX', 'SD']

In [21]:
# Print the column datatypes:
print("The column types are: \n", column_datatypes)

The column types are:
 [dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

In [ ]:
# Print the column datatypes:
print("The column types are: \n", column_datatypes)

In [27]:
run Exercise-5-solution-1-part-2.py

There are 11694 rows
The columns are:
 ['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L', 'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2', 'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01', 'PCP06', 'PCP24', 'PCPXX', 'SD']
The column types are:
 [dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

### Part 3 (*1.5 points*)   

In the cell below, fill in the variables values to print answers to these questions:

- What is the mean Fahrenheit temperature in the data (`temp_mean` variable calculated from the `TEMP` column)?
- What is the standard deviation of the Maximum temperature (`temp_max_std` variable calculated from the `MAX` column)?
- How many unique stations exists in the data (`station_count` variable calcualted from the `USAF` column)?

In [ ]:
# Calculate mean temperature
temp_mean = None

# Calculate standard deviaton of the maximum temperature:
temp_max_std = None

#Calculate number of unique stations:
station_count = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Check mean temperature value
print("The mean temperature in Fahrenheit is ", round(temp_mean,1))

In [ ]:
# Check standard deviation value
print("The standard deviation of maximum temperature is ", round(temp_max_std, 1))

In [ ]:
# Check number of stations value
print("The number of unique stations is ", station_count)

### Problem 1 summary

In the [Exercise 5 summary notebook](Exercise-5-summary.ipynb) you can find a few additional points to consider and one final question for Problem 1. Please answer that question in [that notebook](Exercise-5-summary.ipynb).

### On to Problem 2

Now you can continue to [Problem 2: Data manipulation and selection](Exercise-5-problem-2.ipynb)